<div class="col s12  navPadding">
    <div class="indigo accent2-2" style=" border-radius: 5px;">
        <ul id="nav-mobile" style="display:-webkit-inline-box;width: 100%;line-height: 0px;">
            <li class="li-menu"><a class="white-text" [routerLink]="['/home']"><i class="material-icons option-menu">home</i>
                    <span style="line-height: 24px">Home</span> </a></li>
            <li class="li-menu"><a class="white-text" [routerLink]="['/messages']"><i class="material-icons option-menu">markunread</i>
                    <span style="line-height: 24px">Messages</span> </a></li>
            <li class="li-menu"><a class="white-text" [routerLink]="['/settings']"><i class="material-icons option-menu">settings</i>
                    <span style="line-height: 24px">Settings</span> </a></li>
            <li class="li-menu"><a class="white-text" [routerLink]="['/account']"><i class="material-icons option-menu">person</i>
                    <span style="line-height: 24px">My Account</span> </a></li>
        </ul>
    </div>
</div>